.slick-slide .slick-track {
    transition-delay: 30ms;

}

.header {
    position: relative;
    background: #ddd;
}

.header .header_wrap {
    display: flex;
    padding: 20px;
    color: #555;
}

.header .gnb {
    margin: 60px auto 0 20px;

}

.header .utils {
    margin: 60px 20px 0 auto;
}

.header .gnb>ul {
    display: flex;
    justify-content: space-around;
    gap: 5px;

}

.header .gnb>ul>li .sub {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    background: #fff;
}

.header .gnb>ul>li .sub a {
    display: flex;
}

.main_visual {
    position: relative;
}

.main_slide .itm01 {
    height: 700px;
    background: url(../images/mainvisual_01.avif) no-repeat center center/cover;
}

.main_slide .itm02 {
    height: 700px;
    background: url(../images/mainvisual_02.avif) no-repeat center center/cover;
}

.main_slide .itm03 {
    height: 700px;
    background: url(../images/mainvisual_03.avif) no-repeat center center/cover;
}

.main_slide .itm04 {
    height: 700px;
    background: url(../images/mainvisual_04.avif) no-repeat center center/cover;
}

.main_slide .itm05 {
    height: 700px;
    background: url(../images/mainvisual_05.avif) no-repeat center center/cover;
}

.main_slide .itm06 {
    height: 700px;
    background: url(../images/mainvisual_06.avif) no-repeat center center/cover;
}

.main_slide .itm07 {
    height: 700px;
    background: url(../images/mainvisual_07.avif) no-repeat center center/cover;
}

.main_slide .itm {
    position: relative;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1400px;
    width: 100%;

    transform: translate(-50%, -50%);
    font-size: 150px;
    color: #fff;
}

.main_visual .arrows i {
    position: absolute;
    top: 0;
}

.main_visual .arrows .left {
    left: 0;
}

.main_visual .arrows .right {
    right: 0;
}

.main_content {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.main_content .itm h2 {
    text-align: center;
}

.footer {
    padding: 80px 0;
    background: #eee;
    color: #555;
}

.footer .address {
    display: flex;
    justify-content: space-between;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
}

.footer .link {
    display: flex;
    justify-content: space-between;
}

.footer .link>ul>li>a {
    padding: 100px;
}

.footer .sns {
    display: flex;
    justify-content: space-between;
}